* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background-color: teal;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    padding: 30px;
    border: 2px solid black;
}

.calculator-container>button {
    cursor: pointer;
    font-size: 42px;
    background-color: lightgray;
    padding: 10px 30px;
    border: 2px solid black;
}

.calculator-container>button:hover {
    background-color: white;
}

.output {
    grid-column: 1 / span 4;
    grid-row: 1 / 1;
    background-color: white;
    font-size: 42px;
    padding: 6px 12px;
    text-align: right;
    margin-bottom: 20px;
    border: 2px solid black;
}